<div>
	<textarea name="text" ng-model="text" rows="20" cols="60"></textarea>
	<button ng-click="showResult()">Show result</button>
</div>
<h2>Big 5</h2>
<div>
	<uib-progressbar style="height: 20px;" max="max" value="Openness"><span style="color:white; white-space:nowrap;">Openness: {{Openness}}</span></uib-progressbar>
	<uib-progressbar style="height: 20px;" max="max" value="Conscientiousness"><span style="color:white; white-space:nowrap;">Conscientiousness: {{Conscientiousness}}</span></uib-progressbar>
	<uib-progressbar style="height: 20px;" max="max" value="Extraversion"><span style="color:white; white-space:nowrap;">Extraversion: {{Extraversion}}</span></uib-progressbar>
	<uib-progressbar style="height: 20px;" max="max" value="Agreeableness"><span style="color:white; white-space:nowrap;">Agreeableness: {{Agreeableness}}</span></uib-progressbar>
	<uib-progressbar style="height: 20px;" max="max" value="Neuroticism"><span style="color:white; white-space:nowrap;">Neuroticism: {{Neuroticism}}</span></uib-progressbar>
</div>